In [ ]:
# Задание task_02_01.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231
import math

x = int(input("Введите число х:"))

if x >= 0:
    f = math.sqrt(x) + x**2
else:
    f = 1 / x

print(round(f, 2))

Введите число х:10
103.16

In [ ]:
# Задание task_02_02.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231

a1 = int(input("Введите первое число:"))
a2 = int(input("Введите второе число:"))

a_min = min(a1, a2)
a_max = max(a1, a2)

print("Максимум:", a_max)
print("Минимум:", a_min)

Введите первое число:1
Введите второе число:2
Максимум: 2
Минимум: 1

In [10]:
# Задание task_02_03.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231

a = int(input("Введите ширину форточки:"))
b = int(input("Введите высоту форточки:"))
d = int(input("Введите Диаметр головы:"))

min_side = min(a,b)

if a and b and d > 0:
  fix = 1
  if min_side >= d+(fix*2):
    print("Да")
  else:
    print("Нет")
else:
  print("Проверьте ввод")

Введите ширину форточки:6
Введите высоту форточки:7
Введите Диаметр головы:4
Да

In [13]:
# Задание task_02_04.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231

year_today = int(input("Введите текущий год:"))
month_today = int(input("Введите текущий месяц:"))

year = int(input("Введите год рождения:"))
month = int(input("Введите месяц рождения:"))

age = year_today-year
if month_today < month:
    age -= 1

print("Число полных лет:", age)

Введите текущий год:2020
Введите текущий месяц:5
Введите год рождения:2000
Введите месяц рождения:5
Число полных лет: 20

In [16]:
# Задание task_02_05.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231

x = int(input('Введите число координаты по оси x:'))
y = int(input('Введите число координаты по оси y:'))

if x > 0 and y > 0:
  print("Ваша координата находится в 1 четверти координатной плоскости")
elif x < 0 and y > 0:
  print("Ваша координата находится в 2 четверти координатной плоскости")
elif x < 0 and y < 0:
  print("Ваша координата находится в 3 четверти координатной плоскости")
elif x > 0 and y < 0:
  print("Ваша координата находится в 4 четверти координатной плоскости")
else:
  print("Координата лежит на оси")

Введите число координаты по оси x:5
Введите число координаты по оси y:7
Ваша координата находится в 1 четверти координатной плоскости

In [23]:
# Задание task_02_06.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231

import math

a = float(input('Введите число для коэффициента a, не равняющееся нулю:'))
b = float(input('Введите число для коэффициента b:'))
c = float(input('Введите число для коэффициента c:'))

if a == 0:
    print("Ошибка: коэффициент a не может быть равен 0")
else:
    discriminant = b**2 - 4*a*c
    if discriminant > 0:
        x1 = (-b + discriminant**0.5) / (2*a)
        x2 = (-b - discriminant**0.5) / (2*a)
        print(f"x1 = {round(x1,1)}")
        print(f"x2 = {round(x2,1)}")
    elif discriminant == 0:
        x = -b / (2*a)
        print(f"x = {round(x,1)}")
    else:
        print("Решений нет")

Введите число для коэффициента a не равняющееся нулю:1
Введите число для коэффициента b:3
Введите число для коэффициента c:-4
x1 = 1.0
x2 = -4.0

In [27]:
# Задание task_02_07.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231

print("Введите последовательность целых чисел (оканчивается 0):")

nums_sum = 0
nums_count = 0

x = int(input())
while x != 0:
    nums_sum += x
    nums_count += 1
    x = int(input())

print(f"Сумма: {nums_sum}")
print(f"Количество: {nums_count}")

Введите последовательность целых чисел (оканчивается 0):
0
Сумма: 0
Количество: 0

In [35]:
# Задание task_02_08.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231

n = int(input('Введите число n: '))
print(f"Числа из последовательности 0,5,10,15,... не превышающие {n}:")

for i in range(0, n + 1, 5):
  print(i)

Введите число n: 0
Числа из последовательности 0,5,10,15,... не превышающие 0:
0

In [ ]:
# Задание task_02_09.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231

a = float(input("Введите вещественное число a: "))

n = 1
x_sum = 0.0

while x_sum <= a:
    x_sum += 1 / n
    n += 1

print(f"Наименьшее натуральное n: {n - 1}")

Введите вещественное число a: 1.5
Наименьшее натуральное n: 3

In [45]:
# Задание task_02_10.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231

n = int(input('n = '))
n_sum = 0
n_count = 0

while n > 0:
  n_sum += n%10
  n = n//10
  n_count += 1

print(f'Сумма: {n_sum}')
print(f'Количество: {n_count}')

n = 12345
Сумма: 15
Количество: 5

In [43]:
# Задание task_02_11.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231

start = int(input("start = "))
k = int(input("k = "))
s = int(input("s = "))
n_count = 0

result = []
current = start
while n_count < 10:
    if current % 10 == s and current % k == 0:
        result.append(str(current))
        n_count += 1
    current += 1

print(" ".join(result))

start = 100
k = 7
s = 9
119 189 259 329 399 469 539 609 679 749

In [ ]:
# Задание task_02_12.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231

a = int(input("Введите число a: "))
b = int(input("Введите число b: "))

min_num = min(a, b)
max_num = max(a, b)

print(f'a = {a}')
print(f'b = {b}')
for i in range(min_num, max_num + 1):
    print(i, end=" ")
print()

for i in range(max_num, min_num - 1, -1):
    print(i)

Введите число a: 1
Введите число b: 5
a = 1
b = 5
1 2 3 4 5
5
4
3
2
1

In [ ]:
# Задание task_02_13.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231

a = int(input("a = "))
b = int(input("b = "))

n_sum = 0
n_mult = 1
count = 0
odd_product = 1
odd_count = 0

for num in range(a, b + 1):
    n_sum += num
    n_mult *= num
    count += 1
    if num % 2 != 0:
        odd_product *= num
        odd_count += 1

n_avg = n_sum / count
if odd_count > 0:
    n_avg_geom = odd_product ** (1 / odd_count)
else:
    n_avg_geom = 0

print("Сумма =", n_sum)
print("Произведение =", n_mult)
print("Среднее арифметическое = {:.2f}".format(n_avg))
print("Среднее геометрическое нечетных чисел = {:.2f}".format(n_avg_geom))

a = 1
b = 5
Сумма = 15
Произведение = 120
Среднее арифметическое = 3.00
Среднее геометрическое нечетных чисел = 2.47

In [ ]:
# Задание task_02_14.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231

s = float(input("Пробег за 1-й день (км.) = "))
p = float(input("На сколько увеличивает пробег (%) = "))

total = s
current = s

print("Пробег за 1-й день: {:.1f} км.".format(current))

for day in range(2, 11):
    current *= (1 + p / 100)
    total += current
    print("Пробег за {}-й день: {:.1f} км.".format(day, current))

print("Суммарный пробег: {:.1f} км.".format(total))

Пробег за 1-й день (км.) = 5
На сколько увеличивает пробег (%) = 10
Пробег за 1-й день: 5.0 км.
Пробег за 2-й день: 5.5 км.
Пробег за 3-й день: 6.1 км.
Пробег за 4-й день: 6.7 км.
Пробег за 5-й день: 7.3 км.
Пробег за 6-й день: 8.1 км.
Пробег за 7-й день: 8.9 км.
Пробег за 8-й день: 9.7 км.
Пробег за 9-й день: 10.7 км.
Пробег за 10-й день: 11.8 км.
Суммарный пробег: 79.7 км.

In [44]:
# Задание task_02_15.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231

p = float(input("Грузоподъемность грузовика (кг.) = "))
n = int(input("Количество предметов = "))

total = 0
for i in range(1, n + 1):
    weight = float(input("Масса {}-го предмета (кг.) = ".format(i)))
    total += weight

if total <= p:
    print("Да")
else:
    print("Нет")

Грузоподъемность грузовика (кг.) = 10
Количество предметов = 2
Масса 1-го предмета (кг.) = 3
Масса 2-го предмета (кг.) = 3
Да

In [46]:
# Задание task_02_16.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231

n = int(input("Количество районов = "))

total = 0
for i in range(1, n + 1):
    area = float(input("Площадь {}-го района (га) = ".format(i)))
    yield_per_ha = float(input("Урожайность в {}-м районе (ц/га.) = ".format(i)))
    total += area * yield_per_ha

print("Собрано пшеницы: {:.1f} ц.".format(total))

Количество районов = 3
Площадь 1-го района (га) = 4
Урожайность в 1-м районе (ц/га.) = 2
Площадь 2-го района (га) = 7
Урожайность в 2-м районе (ц/га.) = 3
Площадь 3-го района (га) = 9
Урожайность в 3-м районе (ц/га.) = 4
Собрано пшеницы: 65.0 ц.

In [48]:
# Задание task_02_17.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231

nums_sum = 0
nums_count = 0
i = 1

while True:
    num = int(input("Введите {}-е число: ".format(i)))
    if num == 0:
        break
    nums_sum += num
    nums_count += 1
    i += 1

print("Сумма =", nums_sum)
print("Количество =", nums_count)

Введите 1-е число: 1
Введите 2-е число: 2
Введите 3-е число: 3
Введите 4-е число: 4
Введите 5-е число: 0
Сумма = 10
Количество = 4

In [49]:
# Задание task_02_18.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231

sentence = input("Введите предложение: ")

count_gl = 0
count_sogl = 0

vowels = "аеёиоуыэюя"
consonants = "бвгджзйклмнпрстфхцчшщ"

for char in sentence:
    if char == " ":
        continue

    char_lower = char.lower()

    if char_lower in vowels:
        count_gl += 1
    elif char_lower in consonants:
        count_sogl += 1

print("Кол-во букв в предложении: гласных - {}, согласных - {}".format(count_gl, count_sogl))

Введите предложение: Программирование
Кол-во букв в предложении: гласных - 7, согласных - 9

In [50]:
# Задание task_02_19.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231

a = int(input("a = "))
b = int(input("b = "))
c = int(input("c = "))

for num in range(a, b + 1):
    if num % c == 0:
        print(num, end=" ")

a = 1
b = 10
c = 2
2 4 6 8 10

In [52]:
# Задание task_02_20.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231

n = int(input("n = "))

for num in range(100, 1000):
    digit1 = num // 100
    digit2 = (num // 10) % 10
    digit3 = num % 10
    if digit1 + digit2 + digit3 == n:
        print(num, end=" ")

n = 3
102 111 120 201 210 300

In [53]:
# Задание task_02_21.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231

n = int(input("n = "))

r_sr_m = 0.0
r_sr_d = 0.0

count_m = 0
count_d = 0
sum_m = 0
sum_d = 0

for i in range(1, n + 1):
    height = int(input("Рост {}-го ученика = ".format(i)))
    if height < 0:
        sum_m += abs(height)
        count_m += 1
    else:
        sum_d += height
        count_d += 1

if count_m > 0:
    r_sr_m = sum_m / count_m
if count_d > 0:
    r_sr_d = sum_d / count_d

print("Средний рост мальчиков: {:.1f}".format(r_sr_m))
print("Средний рост девочек: {:.1f}".format(r_sr_d))

n = 5
Рост 1-го ученика = 150
Рост 2-го ученика = -150
Рост 3-го ученика = 160
Рост 4-го ученика = 170
Рост 5-го ученика = 180
Средний рост мальчиков: 150.0
Средний рост девочек: 165.0

In [54]:
# Задание task_02_22.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231

n = int(input("n = "))

a_max = None
a_min = None

for i in range(1, n + 1):
    num = float(input("{}-e число = ".format(i)))
    if a_max is None or num > a_max:
        a_max = num
    if a_min is None or num < a_min:
        a_min = num

print("Максимум: {:.2f}".format(a_max))
print("Минимум: {:.2f}".format(a_min))

n = 4
1-e число = 6.2
2-e число = 3.8
3-e число = 1.1
4-e число = 9.66
Максимум: 9.66
Минимум: 1.10

In [55]:
# Задание task_02_23.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231

n = int(input("n = "))

a, b = 0, 1
is_fibonacci = False

while a <= n:
    if a == n:
        is_fibonacci = True
        break
    a, b = b, a + b

print("Является" if is_fibonacci else "Не является")

n = 7
Не является

In [58]:
# Задание task_02_24.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231

n = int(input("n = "))

index = -1

prev = float(input("1-e число = "))
for i in range(2, n + 1):
    current = float(input("{}-e число = ".format(i)))
    if current <= prev:
        index = i
        break
    prev = current

if index == -1:
    print("Является")
else:
    print(index)

n = 3
1-e число = 3
2-e число = 3
2

In [59]:
# Задание task_02_25.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231

n = int(input("n = "))

for i in range(1, n + 1):
    for j in range(1, n + 1):
        print("{} * {} = {}".format(i, j, i * j), end="  ")
    print()

n = 5
1 * 1 = 1  1 * 2 = 2  1 * 3 = 3  1 * 4 = 4  1 * 5 = 5
2 * 1 = 2  2 * 2 = 4  2 * 3 = 6  2 * 4 = 8  2 * 5 = 10
3 * 1 = 3  3 * 2 = 6  3 * 3 = 9  3 * 4 = 12  3 * 5 = 15
4 * 1 = 4  4 * 2 = 8  4 * 3 = 12  4 * 4 = 16  4 * 5 = 20
5 * 1 = 5  5 * 2 = 10  5 * 3 = 15  5 * 4 = 20  5 * 5 = 25

In [62]:
# Задание task_02_26.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231

n = int(input("n = "))

for num in range(1, n + 1):
    count = 0
    for i in range(1, num + 1):
        if num % i == 0:
            count += 1
    print(f"{num} {'*' * count}")

# ---
# Пример вывода:
#
# n = 10
# 1 *
# 2 **
# 3 **
# 4 ***
# 5 **
# 6 ****
# 7 **
# 8 ****
# 9 ***
# 10 ****

n = 10
1 *
2 **
3 **
4 ***
5 **
6 ****
7 **
8 ****
9 ***
10 ****

In [63]:
# Задание task_02_27.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231

n = int(input("n = "))

count = 0
num = 2

while count < n:
    is_prime = True
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num, end=" ")
        count += 1
    num += 1

n = 10
2 3 5 7 11 13 17 19 23 29

In [64]:
# Задание task_02_28.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231

k = int(input("k = "))

for x in range(1, 31):
    for y in range(1, 31):
        for z in range(1, 31):
            if x**2 + y**2 + z**2 == k**2:
                print("x = {}, y = {}, z = {}".format(x, y, z))

k = 30
x = 4, y = 10, z = 28
x = 4, y = 20, z = 22
x = 4, y = 22, z = 20
x = 4, y = 28, z = 10
x = 10, y = 4, z = 28
x = 10, y = 20, z = 20
x = 10, y = 28, z = 4
x = 20, y = 4, z = 22
x = 20, y = 10, z = 20
x = 20, y = 20, z = 10
x = 20, y = 22, z = 4
x = 22, y = 4, z = 20
x = 22, y = 20, z = 4
x = 28, y = 4, z = 10
x = 28, y = 10, z = 4

In [65]:
# Задание task_02_29.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231

n = int(input("n = "))

nums = []
for i in range(1, n + 1):
    num = float(input("Введите {}-й элемент списка: ".format(i)))
    nums.append(num)

nums_pos = [x for x in nums if x > 0]
nums_neg = []
for x in nums:
    if x < 0:
        nums_neg.append(x)

sr_ar = sum(nums_pos) / len(nums_pos) if nums_pos else 0

if nums_neg:
    product = 1
    for num in nums_neg:
        product *= abs(num)
    sr_geom = product ** (1 / len(nums_neg))
else:
    sr_geom = 0

print("Исходный список:", nums)
print("Положительные числа:", nums_pos)
print("Отрицательные числа:", nums_neg)
print("Ср. арифм.: {:.2f}".format(sr_ar))
print("Ср. геом.: {:.2f}".format(sr_geom))

n = 4
Введите 1-й элемент списка: 1
Введите 2-й элемент списка: 6
Введите 3-й элемент списка: -10
Введите 4-й элемент списка: -3
Исходный список: [1.0, 6.0, -10.0, -3.0]
Положительные числа: [1.0, 6.0]
Отрицательные числа: [-10.0, -3.0]
Ср. арифм.: 3.50
Ср. геом.: 5.48

In [66]:
# Задание task_02_30.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231

# Все разделенные пробелом элементы будут преобразованы в список целых чисел
nums = [int(item) for item in input().split()]

# 1. Все положительные
for item in nums:
    if item <= 0:
        all_pos_1 = False
        break
else:
    all_pos_1 = True

all_pos_2 = all(item > 0 for item in nums)

# 2. Хотя бы 1 нулевой элемент
for item in nums:
    if item == 0:
        any_zero_1 = True
        break
else:
    any_zero_1 = False

any_zero_2 = any([item == 0 for item in nums])

# 3. Все четные
for item in nums:
    if item % 2 != 0:
        all_even_1 = False
        break
else:
    all_even_1 = True

all_even_2 = all(item % 2 == 0 for item in nums)

# 4. Хотя бы 1 нечетный элемент
for item in nums:
    if item % 2 != 0:
        any_odd_1 = True
        break
else:
    any_odd_1 = False

any_odd_2 = any([item % 2 != 0 for item in nums])

print("Все положительные:", all_pos_1, all_pos_2)
print("Хотя бы 1 нулевой элемент:", any_zero_1, any_zero_2)
print("Все четные:", all_even_1, all_even_2)
print("Хотя бы 1 нечетный элемент:", any_odd_1, any_odd_2)

-1 1 100 0
Все положительные: False False
Хотя бы 1 нулевой элемент: True True
Все четные: False False
Хотя бы 1 нечетный элемент: True True

In [68]:
# Задание task_02_31.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231

s = input("Введите предложение = ")
k = input("Введите букву = ")

words = s.split()

filtered_words = [word for word in words if k.lower() not in word.lower()]

result = " ".join(filtered_words)

print(result)

# ---
# Пример вывода:
#
# Введите предложение = МАМА мыла Раму
# Введите букву = р
# МАМА мыла

Введите предложение = МАМА мыла Раму
Введите букву = р
МАМА мыла

In [70]:
# Задание task_02_32.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231

n = int(input("Количество рядов = "))

# 1. Заполнение мест
seats = []
for i in range(n):
    row = [int(item) for item in input().split()]
    seats.append(row)

# 2. Всего свободных мест
count = 0
for row in seats:
    for seat in row:
        if seat == 0:
            count += 1

print("Всего свободных мест:", count)

# 3. Ввод значений для поиска
# Учитывайте, что пользователь привык считать с 1, а не с 0,
# поэтому введенные сообщения необходимо скорректировать
n_p, m_p = [int(item) for item in
    input("Введите ряд и место через пробел: ").split()]

# n_p, m_p не должны выходить за границы
# Если выходит, необходимо указать, что "Такого места не существует"
if n_p < 1 or n_p > len(seats) or m_p < 1 or m_p > len(seats[n_p-1]):
    print("Такого места не существует")
else:
    # Корректируем индексы (пользователь вводит с 1, а в Python индексация с 0)
    is_free = (seats[n_p-1][m_p-1] == 0)
    print("Место свободно:", is_free)

Количество рядов = 3
0 0 0
1 1 1
0 0 0 0 1
Всего свободных мест: 7
Введите ряд и место через пробел: 1 1
Место свободно: True

In [73]:
# Задание task_02_33.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231

# 1. Заполнение списка
employees = [
    ["Петрова", "Анна", "Алексеевна", "Ж", 5],
    ["Семенов", "Николай", "Михайлович", "М", 2],
    ["Михайлов", "Игорь", "Васильевич", "М", 3]
]

# Ввод данных
n = int(input("Количество сотрудников = "))

employees = []
for i in range(n):
    data = input().split()
    employees.append([data[0], data[1], data[2], data[3], int(data[4])])

# Сортировка по стажу
sorted_by_exp = sorted(employees, key=lambda x: x[4])

print('Самый "молодой":', " ".join(sorted_by_exp[0][:3]))
print('Самый "старый":', " ".join(sorted_by_exp[-1][:3]))

# Разделение на мужчин и женщин
men = [emp for emp in employees if emp[3] == "М"]
women = [emp for emp in employees if emp[3] == "Ж"]

k = input("Введите букву начала имени = ").lower()

# Подсчет имен
men_count = sum(1 for emp in men if emp[1].lower().startswith(k))
women_count = sum(1 for emp in women if emp[1].lower().startswith(k))

# Сравнение
if men_count > women_count:
    print("У мужчин таких имен больше")
elif women_count > men_count:
    print("У женщин таких имен больше")
else:
    print("Количество таких имен одинаково")

Количество сотрудников = 3
Петрова Анна Алексеевна Ж 5
Семенов Николай Михайлович М 2
Михайлов Игорь Васильевич М 3
Самый "молодой": Семенов Николай Михайлович
Самый "старый": Петрова Анна Алексеевна
Введите букву начала имени = а
У женщин таких имен больше

In [77]:
# Задание task_02_34.
#
# Выполнил: Миленин И.Д.
# Группа: АБП-231

# 1. Заполнение списка
#deposits = [
#    {"name": "Банк_1", "initial_sum": 50000, "rate": 5.2},
#    {"name": "Банк_2", "initial_sum": 20000, "rate": 3.7},
#    {"name": "Банк_3", "initial_sum": 45000, "rate": 6.8},
#]

n = int(input("Количество банков = "))

deposits = []

for i in range(n):
    data = input().split()
    deposit = {
        "name": data[0],
        "initial_sum": int(data[1]),
        "rate": float(data[2])
    }
    deposits.append(deposit)

# 2. Самый доступный банк (с наименьшей первоначальной суммой)
min_bank = min(deposits, key=lambda x: x["initial_sum"])

# 3. Самый выгодный банк
# прибыль = сумма * процент / 100
max_profit_bank = max(deposits, key=lambda x: x["initial_sum"] * x["rate"] / 100)
profit = max_profit_bank["initial_sum"] * max_profit_bank["rate"] / 100

print("Самый доступный банк: {}, первоначальная сумма: {:.2f} руб.".format(
    min_bank["name"], min_bank["initial_sum"]))
print("Самый выгодный банк: {}, прибыль: {:.2f} руб.".format(
    max_profit_bank["name"], profit))

# ---
# Пример вывода:
#
# Количество банков = 3
# Банк_1 50000 5.2
# Банк_2 20000 3.7
# Банк_3 45000 6.8
# Самый доступный банк: Банк_2, первоначальная сумма: 20000.00 руб.
# Самый выгодный банк: Банк_3, прибыль: 3060.00 руб.

Количество банков = 3
Банк_1 50000 5.2
Банк_2 20000 3.7
Банк_3 45000 6.8
Самый доступный банк: Банк_2, первоначальная сумма: 20000.00 руб.
Самый выгодный банк: Банк_3, прибыль: 3060.00 руб.